<a href="https://colab.research.google.com/github/951237/python_flask/blob/master/201009_TIL_%EC%9B%90%EA%B2%A9%EC%88%98%EC%97%85_%ED%80%B4%EC%A6%88_%EC%9D%91%EB%8B%B5_%EC%A0%95%EB%A6%AC_56%ED%95%99%EB%85%84_%EC%A0%84%EC%B2%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 20.10.8 작업분량

In [21]:
import pandas as pd
import glob

# 경로 설정하기 
PATH_NAME_LIST = "/content/drive/My Drive/data/hakhyun/학현초_학생명부_200420.xlsx"
DIC_PATH = {
    "5" : '/content/drive/My Drive/data/학현초_원격수업 구글설문 응답_201007/원격수업_52_과_응답모음.xlsx',
    '6' : '/content/drive/My Drive/data/학현초_원격수업 구글설문 응답_201007/원격수업_62_과_응답모음.xlsx'
}

# 명부 만들기
df_namelist = pd.read_excel(PATH_NAME_LIST)

for k, v in DIC_PATH.items():
    # 6학년 명부만 만들기
    df_namelist_six = df_namelist.loc[df_namelist['학년']== int(k)]
    # 엑셀파일의 시트 이름 알아내기
    xls = pd.ExcelFile(v)
    sht_name = sorted(xls.sheet_names)
    print(f'{k}학년 파일 시트명 : {sht_name}', '\n') # 엑셀파일 시트 이름 

    # 엑셀의 모든 시트를 하나의 데이터 프레임으로 합치기 / 합치면서 시트이름을 표시
    out_df = pd.DataFrame()
    for sheet in sht_name:
        df = pd.read_excel(v, sheet_name=sheet)
        df['sheet'] = sheet
        out_df = pd.concat([out_df, df], axis=0, ignore_index=True) # 칼럼이 일치하지 않더라도 합치기

    # 필요한 칼럼만 선택하여 저장
    df_respons = out_df[['* 학년 반을 선택하시오.', '번호를 입력하시오.', '이름을 입력하시오.', 'sheet' ]].copy()

    # 칼럼 이름 바꾸기
    df_respons = df_respons.rename(columns={'* 학년 반을 선택하시오.' : '학년반', '번호를 입력하시오.' : "번호", '이름을 입력하시오.' : "이름", 'sheet' : "단원"})

    # 칼럼을 나누기
    df_respons[['학년', '반']]=df_respons['학년반'].str.split("-", expand=True)

    # 필요없는 칼럼 삭제
    del df_respons['학년반']

    # 칼럼 재정렬
    df_respons = df_respons[['학년', '반', '번호', '이름', '단원']]

    #name list add columns
    df_namelist_six = df_namelist_six[['학년', '반', '번호', '성명']]

    # 칼럼이름 재조정
    df_namelist_six.columns= ['학년', '반', '번호', '이름']

    # 데이터 프레임에 칼럼 만들
    for i in sht_name:
        df_namelist_six[i] = ""

    # 단원명을 확인후 이름이 일치하면 해당단원에 제출 기록하기
    for i in range(len(df_namelist_six)):
        for j in range(len(df_respons)):
            for p in range(0, len(sht_name)):
                if df_respons.iloc[j, -1] == xls.sheet_names[p]:  # 단원명 확인하기
                    if df_namelist_six.iloc[i,3] == df_respons.iloc[j,3]: #이름 확인하기
                        df_namelist_six.iloc[i,-1-p] = '제출' # 제출 기록하기
    print(df_namelist_six.head(), '\n')

    # 엑셀파일로 저장하기
    print(f'{k}학년 결과 파일 생성 완료!', '\n')
    df_namelist_six.to_excel(f'result_{k}.xlsx')

5학년 파일 시트명 : ['52_과_0202', '52_과_0203', '52_과_0204', '52_과_0205', '52_과_0206', '52_과_0207', '52_과_0208', '52_과_0302', '52_과_0303', '52_과_0304', '52_과_0305', '52_과_0306', '52_과_0307', '52_과_0308']

     학년  반  번호          이름  ... 52_과_0305 52_과_0306 52_과_0307 52_과_0308
229   5  1   1         강민지  ...
230   5  1   3         고은선  ...
231   5  1   4         권준혁  ...
232   5  1   5  KIM MILANA  ...
233   5  1   6         김현아  ...

[5 rows x 18 columns]

5학년 결과 파일 생성 완료!

6학년 파일 시트명 : ['62_과_0102', '62_과_0103', '62_과_0104', '62_과_0105', '62_과_0106-7', '62_과_0108', '62_과_0202', '62_과_0204', '62_과_0205', '62_과_0206-7']

     학년  반  번호   이름  ... 62_과_0202 62_과_0204 62_과_0205 62_과_0206-7
286   6  1   1  고종학  ...
287   6  1   2  김수현  ...
288   6  1   3  김시우  ...
289   6  1   4  김아름  ...
290   6  1   5  박상진  ...

[5 rows x 14 columns]

6학년 결과 파일 생성 완료!

## 코딩 연습장

In [9]:
for i in range(1, 11):
    print(-11 + i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [ ]:
# 단원별 데이터 프레임 리스트에 담기
ls_df = []

In [ ]:
df_0102.iloc[0,0]

'이성진'

In [ ]:
df_namelist_six.iloc[0,3]

In [ ]:
df_respons.iloc[0,-1]

'62_과_0202'

In [ ]:
df_respons.iloc[0,3]

'박세윤'

In [ ]:
# 통계내기
df_respons.groupby(by=['단원'], as_index=False ).count()

            단원  학년   반  번호  이름
0    62_과_0102  55  55  44  44
1    62_과_0103  47  47  45  45
2    62_과_0104  32  32  30  30
3    62_과_0105  52  52  44  44
4  62_과_0106-7  69  69  62  62
5    62_과_0108   5   5   5   5
6    62_과_0202   3   3   3   3